doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="mobile-web-app-capable" content="yes")
    
    block seo

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    if env === 'production'
      link(rel='stylesheet' href="/admin/dist/css/digitopia-admin.min.css")
    else 
      link(rel='stylesheet' href="/admin/dist/css/digitopia-admin.css")

    block css
      
  body#document-body.admin-scope
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Digitopia /admin
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown
              ul.dropdown-menu
                for table in menu
                  li
                    a(href='/admin/views/'+table+'/index')= table
                if adminOptions.i18n
                  li
                    a(href='/admin/views/I18n/index')= 'i18n'
          .hidden-logged-in
            form.navbar-form.navbar-right(data-jsclass="adminLoginController" data-endpoint= '/api/' + userModel + '/login')
              .form-group
                input.form-control(name="email" type='text', placeholder='Email')
              .form-group
                input.form-control(name="password" type='password', placeholder='Password')
              button.btn.btn-success(type='submit') Sign in
          .hidden-logged-out
            .navbar-form.navbar-right
              button.btn.btn-default(data-jsclass="adminLogoutController"  data-endpoint= '/api/' + userModel + '/logout') Log Out
              
    #admin-content.container-fluid(data-hijax="true")
      block content
        
    #ajax-status

    block controller

    if env === 'production'
      script(src="/admin/dist/js/digitopia-admin.min.js")
    else
      script(src="/admin/dist/js/digitopia-admin.js")
