extends ./admin-wrapper

block content
	.jumbotron
		.container
			h1 Dashboard
			p
				| Welcome to the dashboard. Important things here.
			p
				a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
