extends ../admin-wrapper

block content
	section(data-jsclass="adminEditController" data-model= model data-search-property= schema.admin.listProperties[0])
		.row
			.col-xs-12
				.panel.panel-default
					.panel-heading
						.pull-right
							.add-button.fa.fa-plus.fa-2x
						.row
							.col-md-4
								h4= model
							.col-md-4
								.input-group
									input.form-control(type="text" name="q" value= q placeholder="Search " + model)
									span.input-group-btn
										button.btn.btn-default.search-button(type="button") Go
										
					table.table.table-condensed.table-striped.table-hover
						tr
							for property in schema.admin.listProperties
								th= property
						for instance in instances
							tr.instance-select(data-id= instance.id)
								for property in schema.admin.listProperties
									td.input-margins= instance[property]
					.panel-footer.text-right
						| pagination
