extends ../admin-wrapper

block content
	section(data-jsclass="adminEditController" data-mode= mode data-id= instance.id data-model= model data-endpoint= endpoint data-search-property= schema.admin.listProperties[0])
		.container-fluid
			.row
				.col-xs-12
					.panel.panel-default
						.panel-heading
							.pull-right
								if isSuperUser && isUserModel
									if instanceIsAdminUser
										.toggle-admin(data-endpoint='/api/' + userModel + '/' + instance.id + '/toggleadmin')
											= "remove adminUser" 
										if instanceIsSuperUser
											.toggle-admin(data-endpoint='/api/' + userModel + '/' + instance.id + '/togglesuperuser')
												= "remove superUser" 
										else 
											.toggle-admin(data-endpoint='/api/' + userModel + '/' + instance.id + '/togglesuperuser')
												= "make superUser" 
									else 
										.toggle-admin(data-endpoint='/api/' + userModel + '/' + instance.id + '/toggleadmin')
											= "make adminUser" 
									
								if mode === 'view'
									i.edit-button.fa.fa-pencil-square-o.fa-2x(data-id= instance.id)
								else
									if mode !== 'add'
										i.instance-select.fa.fa-eye.fa-2x(data-id= instance.id)
								if mode !== 'add'
									i.delete-button.fa.fa-times-circle.fa-2x.text-danger(data-id= instance.id)
							i.list-button.fa.fa-list.fa-2x
							!= ' Editing <strong>' + model + '</strong> row <strong>' + instance.id + '</strong>'
						.panel-body
							form.form.form-horizontal(method="POST" action= endpoint data-jsclass="formValidationController" data-submitter=".save-button")
								for parent in parents
									.form-group
										label.col-sm-2.control-label
											= parent.name
										.col-sm-9
											.row
												.col-sm-6
													.parent-relation.input-margins
														if parent.description
															a(href= parent.url)= parent.description
															if mode !== 'view'
																i.delete-relation-button.fa.fa-times-circle.fa(data-foreign-key= parent.foreignKey)
												.col-sm-6
													if mode !== 'view'
														.position-relative
															input.form-control(type="text" placeholder="Lookup in " + parent.model data-jsclass="lookupController" data-endpoint= parent.lookupEndpoint data-lookup-property= parent.lookupProperty data-foreign-key= parent.foreignKey)
															ul.lookup-results
								- var properties = mode === 'view' ? schema.admin.viewProperties : schema.admin.editProperties

								for property in properties
									- var type = schema.properties[property].admin.inputType.toLowerCase()
									- var notes = null
									if property == 'note'
										- notes = JSON.parse(instance[property])
										= "Note Found"
									.form-group
										label.col-sm-2.control-label
											= property
										.col-sm-9.position-relative
											- var dataType = schema.properties[property].type.toLowerCase()
											- var options = schema.properties[property].admin.options
											- var multiple = schema.properties[property].admin.multiple
											- var readonly = schema.properties[property].admin.readonly
											- var val = instance[property]
											- var encode = ''
											- var validations = [];
											
											for validation,i in schema.properties[property].admin.validate
												- validations.push(i + '=' + validation);

											if val && type === 'date'
												if mode === 'edit'
													- val = moment.utc(instance[property]).format('YYYY-MM-DD')
												else
													- val = moment.utc(instance[property]).format('MM/DD/YYYY')

											if val && type === 'datetime'
												- var utc = instance[property].toISOString().replace(/Z$/,'');
												if mode === 'edit'
													- val = moment.utc(utc).format('YYYY-MM-DD hh:mm:ss.SSS')
												else
													- val = moment.utc(utc).format('MM/DD/YYYY hh:mm:ss.SSS')

											if query[property]
												- val = query[property]
												
											if (type === 'textarea' && (dataType === 'object' || dataType === 'array' ))
												- encode = 'json'

												if val
													- val = JSON.stringify(val,null,2)
												
											if mode === 'view'
												.input-margins
													if dataType === 'object' && val
														- if (notes)
															each note in notes
																= note
														- else
															pre= val
													else
														- if (notes)
															each note in notes
																= note
														- else
															= val
											else
												if options
													for option in options
														- var checked = false
														if multiple
															- checked= !val || val.indexOf(option) === -1 ? false : true
														else
															- checked= val === option
														
														div(class= multiple ? "checkbox" : "radio")
															label
																input(type= multiple ? "checkbox" : "radio" data-datatype= dataType name= property data-value= option checked= checked readonly= readonly)
																= ' ' + option
												else if type === 'textarea'
													textarea.form-control(name= property data-datatype= dataType data-encode= encode)= val
												else if type === 'checkbox'
													if !val 
														- val = false
													.input-margins
														input(type= type data-datatype= dataType data-encode= encode name= property checked= val readonly= readonly)
												else if type === 'datetime'
														- var dt = val ? val.split(' ') : [null,null]
														.row
															.col-xs-6
																input.form-control(type= 'date' data-datatype= type data-encode= encode name= property value= dt[0] readonly= readonly)
															.col-xs-6
																input.form-control(type= 'time' data-datatype= type data-encode= encode data-skip= true name= property+'-time' value= dt[1] readonly= readonly)
												else
													input.form-control(type= type data-datatype= dataType data-encode= encode name= property value= val data-validate= validations.join(',') readonly= readonly)
												.cc-brand
												.input-ok-indicator
													span.glyphicon.glyphicon-ok
												.validation-help
								if mode === 'view'
									for helper in schema.admin.helpers
										.form-group
											label.col-sm-2.control-label
												= helper.name
											.col-sm-9
												if helper.type === 'upload'
													- var endpoint = helper.endpoint
													- var property = helper.property
													- var photo = adminGetUploadForProperty(property,instance.uploads(),null,true)
													- endpoint = endpoint.replace(':id', instance.id)
													.upload-viewport.text-center(data-jsclass="digitopiaViewport" data-crop="false" data-blowup="false")
														img(data-jsclass="digitopiaLazyImg" data-lazy-src= photo.url)
														.dropzone(data-jsclass="dropzoneController" data-endpoint= endpoint)
															.dz-message.
																Drop your photo here<br><small>(or click to upload)</small>
										
									for relationship in children
										.form-group
											label.col-sm-2.control-label
												= relationship.relation.name
												if relationship.createUrl
													| &nbsp;
													a.fa.fa-plus.fa-2(href= relationship.createUrl)
														
											.col-sm-9
												.input-margins
													for child in relationship.children
														.related-instance
															a(href= child.url)= child.description
												
													
								if mode !== 'view'
									.form-group
										.col-sm-2
										.col-sm-10
											button.btn.btn-primary.save-button(data-id= instance.id) Save
